Repository attakei-lab/pipedream-actions: changes, and which lefthook commands are due for each by the changed paths.
All: biome, doc8

lefthook.yml:

# Important!
#   This hooks require uv to

pre-commit:
  parallel: true
  commands:
    biome:
      glob: '*.{js,mjs,json,jsonc}'
      run: 'pnpm biome format --write {staged_files}'
      stage_fixed: true
    doc8:
      glob: '*.rst'
      run: 'uv run doc8 {staged_files}'

chore: TypeScript configuration
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: biome

feat(twitter): Add simple action to send tweet
  packages/twitter/README.rst
  packages/twitter/package.json
  packages/twitter/src/send-tweet.mts
  packages/twitter/tsconfig.json
Due: biome, doc8

chore: Add hook to clean up workspace
  package.json
  packages/twitter/package.json
  pnpm-lock.yaml
Due: biome

refactor: Rename as packages
  package.json
  packages/twitter/package.json
Due: biome

feat: Install Pipedream CLI automately
  package.json
  pnpm-lock.yaml
  scripts/install-pd.mjs
Due: biome

fix: Install once only
  scripts/install-pd.mjs
Due: biome

feat: <WIP>Publish overall components of all packages
  package.json
Due: biome

refactor: Migrate openai actions
  openai/yarn.lock
  packages/openai/.env.example
  packages/openai/README.md
  packages/openai/demo.mjs
  packages/openai/package.json
  packages/openai/src/chatgpt.mts
  packages/openai/tsconfig.json
  pnpm-lock.yaml
Due: biome

release(openai): Bump
  packages/openai/src/chatgpt.mts
Due: none

release(twitter): Bump
  packages/twitter/package.json
  packages/twitter/src/send-tweet.mts
Due: biome

feat(bluesky): Send post with link card (from OG metadata)
  packages/bluesky/package.json
  packages/bluesky/src/send-post-with-opengraph-url.mts
  packages/bluesky/tsconfig.json
  pnpm-lock.yaml
Due: biome

refactor: Migrate components package
  packages/components/.env.example
  packages/components/demo/run-openai_chatgpt.mjs
  packages/components/package.json
  packages/components/src/bluesky/send-post-with-opengraph-url.mts
  packages/components/src/openai/chatgpt.mts
  packages/components/src/twitter/send-tweet.mts
  packages/components/tsconfig.json
  packages/openai/.env.example
  packages/openai/README.md
  packages/openai/package.json
  packages/openai/tsconfig.json
  packages/twitter/README.rst
  packages/twitter/package.json
  packages/twitter/tsconfig.json
Due: biome, doc8

chore: Remove python workspace
  lefthook.yml
  pyproject.toml
  uv.lock
Due: none

chore: Update lock
  pnpm-lock.yaml
Due: none

refactor: Correct label
  packages/components/src/bluesky/send-post-with-opengraph-url.mts
Due: none
